NEXT_PUBLIC_TWITTER_HANDLE=
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_TWITTER_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_NAME=
NEXT_PUBLIC_SITE_TITLE=
NEXT_PUBLIC_SITE_DESCRIPTION=
AI_GATEWAY_API_KEY=